{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="row">
  <div class="col-sm-12{% if cart.item_count > 0 %} col-md-8{% endif %}">
    <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>
{% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      {% for item in cart.items %}
        <div class="row cart__row" data-label="{{ 'customer.order.product' | t }}">
          <div class="col-xs-5 col-sm-3 cart__image">
            <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.featured_image.src | product_img_url: 'compact' }}" alt="{{ item.title | escape }}" /></a>
          </div>
          <div class="col-xs-7 col-sm-5 cart__details">
            {% include 'cart-item-details' %}
          </div>
          <div class="col-xs-12 col-sm-4 cart__qty">
            {% include 'cart-item-quantity' %}
          </div>
        </div>
      {% endfor %}
    </form>
  </div>
  <div class="col-sm-12 col-md-4 cart__summary">
    <div class="well">
      {% include 'cart-summary' %}
    </div>
{% else %}
    <p><strong>{{ 'cart.general.empty' | t }}</strong></p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
  </div>
</div>