<!-- /templates/customers/account.liquid -->
{% comment %}
  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer
{% endcomment %}
<div class="row">
  <div class="col-sm-4">
    <h1>{{ 'customer.account.title' | t }}</h1>
    <h5>{{ customer.name }}</h5>
    <p>{{ customer.email }}</p>
    {% if customer.default_address != nil %}
       <address>
        {% if customer.default_address.company %}
          {{ customer.default_address.company }}<br>
        {% endif %}
        <strong>{{ customer.default_address.street }}</strong><br>
        {{ customer.default_address.city | capitalize }},
        {% if customer.default_address.province_code %}
          {{ customer.default_address.province_code }}
        {% endif %}
        {{ customer.default_address.zip | upcase }}<br>
        {% if customer.default_address.country %}
          {{ customer.default_address.country }}<br>
        {% endif %}
        {{ customer.default_address.phone }}
      </address>
      <p><a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t: count: customer.addresses_count }}</a></p>
    {% else %}
      <p>{{ 'customer.addresses.no_default' | t }}</p>
      <a id="view_address" href="/account/addresses">{{ 'customer.addresses.add_new' | t }}</a>
    {% endif %}
  </div>
  <div class="col-sm-8">
    <h2>{{ 'customer.orders.title' | t }}</h2>
    {% comment %} If we have past orders, loop through each one {% endcomment %}
    {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}
        <table>
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'customer.orders.none' | t }}</p>
      {% endif %}
      {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    {% endpaginate %}
  </div>
</div>
<p><a href="{{ shop.url }}">{{ 'customer.account.resume_shopping' | t }}</a></p>