<!-- /templates/customers/activate_account.liquid -->
<div class="row">
  <div class="col-md-6 col-offset-md-6">
    <h1>{{ 'customer.activate_account.title' | t }}</h1>
    <p>{{ 'customer.activate_account.subtext' | t }}</p>
    {% form 'activate_customer_password' %}
      {{ form.errors | default_errors }}
      <label for="CustomerPassword" class="hidden-label">{{ 'customer.activate_account.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full" placeholder="{{ 'customer.activate_account.password' | t }}">
      <label for="CustomerPasswordConfirmation" class="hidden-label">{{ 'customer.activate_account.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="input-full" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
      <p>
        <input type="submit" class="btn btn--primary" value="{{ 'customer.activate_account.submit' | t }}">
        <input type="submit" class="btn btn-link" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      </p>
    {% endform %}
  </div>
</div>
