<!-- /templates/customers/login.liquid -->
<div class="container">
  <div class="row" id="CustomerLoginForm">
    {% if shop.checkout.guest_login %}
      <div class="col-md-6" id="CustomerGuestCheckout">
        <h2>{{ 'customer.login.guest_title' | t }}</h2>
        <p>
          Account registration is optional at <em>{{ shop.name }}</em>. You can continue
          as a <strong>Guest</strong>, or you can
          <strong><a href="/account/register/">Register</a></strong> for an account.
        </p>
        <p>
          You can sign up for an account after the checkout process.
        </p>
        {% form 'guest_login' %}
          <input type="submit" class="btn btn--primary" value="{{ 'customer.login.guest_continue' | t }}">
          <a href="/account/register/" class="btn btn--secondary">Register</a>
        {% endform %}
        <p><a href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a></p>
      </div>
    {% endif %}
    <div class="col-md-6">
      {% comment %}
        If a user has successfully requested a new password, the form.posted_successfully? variable
        is set to true within the 'recover_customer_password' form only. Within that form you'll see
        the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
      {% endcomment %}
      <div class="note form-success" id="ResetSuccess" style="display:none;">
        {{ 'customer.recover_password.success' | t }}
      </div>
      <h2>{{ 'customer.login.subtitle' | t }}</h2>
      <p>
        If you're having trouble signing in, please {% comment %}{% if form.password_needed %}{% endcomment %} use
        <a href="#recover" class="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a> or
        {% comment %}{% endif %}{% endcomment %} <a href="/account/register">Register for an Account</a>.
      </p>
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}
        <label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
        {% if form.password_needed %}
          <label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}
        <p>
          <input type="submit" class="btn btn--primary" value="{{ 'customer.login.sign_in' | t }}">
          {% if form.password_needed %}
            <a href="#recover" class="RecoverPassword btn btn--link">{{ 'customer.login.forgot_password' | t }}</a>
          {% endif %}
        </p>
      {% endform %}
      <p><a href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a></p>
    </div>
  </div>
  {% comment %} JS shows/hides this form in timber.loginForms() {% endcomment %}
  <div class="row" id="RecoverPasswordForm" style="display: none;">
    <div class="col-md-6">
      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>
        {{ 'customer.recover_password.subtext' | t }}
        <a href="/account/register">{{ 'customer.register.title' | t }}</a>?
      </p>
      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}
        {% comment %} Assign variable to be used after timber.init() is run in theme.liquid {% endcomment %}
        {% if form.posted_successfully? %} {% assign resetPassword = true %} {% endif %}
        <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
        <p>
          <input type="submit" class="btn btn--primary" value="{{ 'customer.recover_password.submit' | t }}">
          <a href="#cancel" class="btn btn--link HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
        </p>
      {% endform %}
    </div>
  </div>
</div>