<label data-label="{{ 'cart.label.quantity' | t }}">{{ 'cart.label.quantity' | t }}</label>
<input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}">
<input type="submit" name="update" class="btn btn--small btn--secondary" value="Update" /><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn btn--small btn--primary"><span class="visible-xs">Remove</span><span class="hidden-xs">X</span></a>