
<form action="/cart" method="post" novalidate>
	<h5 class="cart__price">
		<span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
		<span class="cart__subtotal">{{ cart.total_price | money }}</span>
	</h5>
	<small class="price-note">{{ 'cart.general.shipping_at_checkout' | t }}</small>

	{% if settings.cart_notes_enable %}
	  {% comment %}<label for="CartSpecialInstructions visible-xs">{{ 'cart.general.note' | t }}</label>{% endcomment %}
	  <textarea name="note" class="input-full" id="CartSpecialInstructions" placeholder="{{ 'cart.general.note' | t }}" rows="3">{{ cart.note }}</textarea>
	{% endif %}

	<input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" class="btn btn--large btn--full btn--primary btn--checkout" />
	<p class="resume-shopping"><a href="{{ collection_url }}">{{ 'cart.general.resume_shopping' | t }}</a></p>
</form>

<hr>

{% unless settings.shipping_calculator == 'Disabled' %}
	<h5>{{ 'cart.shipping.calculate_shipping_header' | t }}</h5>

	<div id="shipping-calculator">
		<div class="form-group" id="address_province_container" style="display: none;">
			<label for="address_province" id="address_province_label">{{ 'cart.shipping.state' | t }}</label>
			<select id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
		</div>
		<div class="form-group">
			<label for="address_country">{{ 'cart.shipping.country' | t }}</label>
			<select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
		</div>
		<div class="form-group">
			<label for="address_zip">{{ 'cart.shipping.zip' | t }}</label>
			<input type="text" placeholder="_ _ _ _ _" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
		</div>
		<input type="button" class="get-rates btn btn--secondary btn--full" value="{{ 'cart.shipping.calculate_shipping' | t }}" />
		<div id="wrapper-response" class="shipping-response" style="display: none;"></div>
	</div>

	<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
		{% raw %}
			<p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
				{{if success}}
					{{if rates.length > 1}}
						{% endraw %}{{ 'cart.shipping.available_rates_html' | t }}{% raw %} {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
					{{else}}
						{{if rates.length == 1}}
							{% endraw %}{{ 'cart.shipping.one_rate_available_html' | t }}{% raw %}
						{{else}}
							{% endraw %}{{ 'cart.shipping.destination_failure' | t }}{% raw %}
						{{/if}}
					{{/if}}
				{{else}}
					${errorFeedback}
				{{/if}}
			</p>
			<ul id="shipping-rates">
			{{each( index, rate ) rates}}
				<li>${rate.name} at {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
			{{/each}}
			</ul>
		{% endraw %}
	</script>

	<script type="text/javascript" charset="utf-8">
		//<![CDATA[
			// Including jQuery conditionnally.
			if (typeof jQuery === 'undefined') {
				document.write({{ "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | script_tag | json }});
				document.write('<script type="text/javascript">jQuery.noConflict();<\/script>');
			}
		//]]>
	</script>

	{{ "jquery.tmpl.js" | asset_url | script_tag }}
	{{ "/services/javascripts/countries.js" | script_tag }}
	{{ "shopify_common.js" | shopify_asset_url | script_tag }}
	{{ "jquery.cart.min.js" | asset_url | script_tag }}

	<script>
		Shopify.Cart.ShippingCalculator.show( {
			submitButton: '{{ 'cart.shipping.calculate_shipping' | t }}',
			submitButtonDisabled: '{{ 'cart.shipping.calculating_shipping' | t }}'{% if shop.customer_accounts_enabled and customer %},
			customerIsLoggedIn: true{% endif %},
			moneyFormat: {{ shop.money_with_currency_format | json }}
		});
	</script>
{% endunless %}