
<header class="site-header" role="banner">
  <div class="container">
    {% comment %}
      If customer accounts are enabled, provide login and create account links
    {% endcomment %}
    {% if shop.customer_accounts_enabled %}
      <div class="row">
        <div class="col-xs-12 text-right hidden-xs">
          {% if customer %}
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
            / {{ 'layout.customer.log_out' | t | customer_logout_link }}
          {% else %}
            {{ 'layout.customer.log_in' | t | customer_login_link }}
            {% if shop.customer_accounts_optional %}
            / {{ 'layout.customer.create_account' | t | customer_register_link }}
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-2">
        {% include 'logo' %}
      </div>
      <div class="col-sm-6 hidden-xs">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        {% comment %}
          Show number of items in the cart and total cost in the /cart link
          Ajax Cart Notes:
            - #cartCount updates the total number of items in the cart
            - #cartCost updates the total cost of the cart
            - Documentation:  http://shopify.com/timber#ajax-cart
        {% endcomment %}
        <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
          {{ 'layout.cart.title' | t }} <span id="CartCount">({{ cart.item_count }})</span>
        </a>
      </div>
      <div class="col-sm-4 hidden-xs">
        <div class="site-header__search">
          {% include 'search-bar' %}
        </div>
      </div>
    </div>
  </div>
  <nav class="nav-bar" role="navigation">
    <div class="wrapper">
      <div class="medium-down--hide">
        {% comment %}
          List out your main-menu linklist (default)
          More info on linklists:
            - http://docs.shopify.com/themes/liquid-variables/linklists
        {% endcomment %}
        <!-- begin site-nav -->
        <ul class="site-nav" id="AccessibleNav">
          {% for link in linklists.main-menu.links %}
            {% comment %}
              Create a dropdown menu by naming a linklist the same as a link in the parent nav
              More info on dropdowns:
                - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
            {% endcomment %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <a href="{{ link.url }}" class="site-nav__link js-drawer-open-center" aria-controls="subMenu" data-menu="{{ child_list_handle }}" aria-expanded="false">
                  {{ link.title }}
                </a>
              {% else %}
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <!-- //site-nav -->
      </div>
      <div class="large--hide medium-down--show">
        <div class="grid">
          <div class="grid__item one-half">
            <div class="site-nav--mobile">
              <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                <span class="icon icon-hamburger" aria-hidden="true"></span>
                <span>{{ 'layout.navigation.menu' | t }}</span>
              </button>
            </div>
          </div>
          <div class="grid__item one-half text-right">
            <div class="site-nav--mobile">
              <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                <span class="icon-fallback-text">
                  <span class="icon icon-cart" aria-hidden="true"></span>
                  <span>{{ 'layout.cart.title' | t }}</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div id="subMenu" class="drawer drawer--center">
  <div class="drawer__header">
    <div class="drawer__title h3"></div>
    <div class="drawer__close js-drawer-close">
      <button type="button" class="icon-fallback-text">
        <span class="icon icon-x" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
      </button>
    </div>
  </div>
  {% comment %}
    List out your main-menu linklist (default)
    More info on linklists:
      - http://docs.shopify.com/themes/liquid-variables/linklists
  {% endcomment %}
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <ul id="{{ child_list_handle }}" data-title="{{ link.title }}" style="display: none;">
          <li><a href="{{ link.url }}">View {{ link.title }}</a></li>
          {% for childlink in linklists[child_list_handle].links %}
            <li{% if childlink.active %} class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endfor %}
</div>


<style>
  #subMenu ul {
    display: none;
  }
  #subMenu ul.active {
    display: block ! important;
  }
</style>